<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>317202218167-odojr835q6bmpj6fm1un250qg6l7lg6g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317202218167-odojr835q6bmpj6fm1un250qg6l7lg6g</string>
	<key>API_KEY</key>
	<string>AIzaSyB3DQuzOjKoFcELR6uSLccYpbyOyJOIFrc</string>
	<key>GCM_SENDER_ID</key>
	<string>317202218167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projet</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-95447</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-95447.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317202218167:ios:17430882126022d699a132</string>
</dict>
</plist>